.contact-section {
  height: 110vh;
  position: relative;
  color: rgb(255, 255, 255);
  margin-top: -30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  background-color: #111010;
}
.nav- {
  position: relative;
  top: 30px;
}

.contact-page {
  position: relative;
  top: 10%;
}

.c-text {
  line-height: 1.3;
  width: 550px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  position: relative;
  top: 40%;
  color: rgb(28, 27, 27);
  font-size: 1.2rem;
  margin-left: 20%;
}

.elephant {
  width: 820px;
  position: relative;
  z-index: 9;
  bottom: 20px;
  right: 90px;
}

.contact-header {
  font-family: "Poppins";
  align-items: center;
  background-color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 10px;
  color: rgb(255, 255, 255);

  padding: 30px;
}

.sub-btn {
  background-color: rgb(18, 18, 18);
  cursor: pointer;
  color: rgb(233, 232, 232);
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.sub-btn:hover {
  opacity: 0.5;
  cursor: pointer;
  color: #0b0b0b;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgb(24, 24, 24);
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 1rem;
}

input:hover {
  background-color: #222222;
}

textarea {
  outline: none;
  background-color: transparent;
  padding-bottom: 30px;
  border: #0b0b0b;
  color: rgb(255, 255, 255);
}

.parallelogram {
  width: 720px;
  height: 860px;
  transform: skew(-0deg);
  background: #ff1034;
  position: absolute;
  top: 0px;
}

i {
  background-color: #1d1d1d;
  padding: 10px;
  color: #e3e3e3;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-right: 7px;
  margin-top: 9px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icons {
  position: relative;
  right: 0px;
}

@media screen and (min-width: 570px) and (max-width: 1250px) {
  .contact-section {
    margin-top: -40px;
    padding: 50px;
    margin-bottom: 0;
    position: relative;
    color: rgb(242, 242, 242);
    height: 100vh;
    width: 100vw;
    background-color: #111010;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-header {
    position: relative;
    top: 10%;
    font-family: "Poppins";
    margin-top: 30%;
    align-items: center;
    height: 500px;
    padding: 20px;
    width: 300px;
  }
}

@media (max-width: 550px) {
  .nav- {
    position: relative;
    top: -60px;
    left: 20px;
  }
  .mobile-form {
    margin-top: 40px;
    height: 350px;
    width: 300px;
    position: relative;
    background-color: #fffffff0;
    color: rgb(234, 234, 234);
    left: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .contact-icons {
    display: flex;
  }

  .c-text {
    line-height: 1.2;
    width: 230px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    position: relative;
    padding-top: 60px;
    color: rgb(255, 255, 255);
  }

  .contact-section {
    height: 110vh;
    position: relative;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1;
    background-color: #111010;
    overflow-y: hidden;
  }

  .elephant {
    position: relative;
    top: 40px;
    left: 10px;
    width: 360px;
    z-index: 9;
  }

  .contact-header {
    z-index: 1;
    position: relative;
    background-color: #111010;
    text-align: center;
    bottom: 270px;
  }

  .c-text {
    padding: 0px;
    color: #dcdcdc;
    font-size: 1rem;
    line-height: 1.4;
  }
  i {
    background-color: #1d1d1d;
    padding: 15px;
    color: #e3e3e3;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
