@media (max-width:550px) {


.contact-section{
padding: 50px;
  margin-bottom: 0;
    position: relative;
    color: rgb(15, 15, 15);
height: 100vh;
  background-color: #FF7F11;
color: rgb(15, 15, 15);
}


.connect{
font-family: "Tusker-28";
  font-size: 9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hi{

  font-family: "Tusker-98";
    font-size: 2.7rem;
    text-transform: uppercase;

}

.link-card{
height: 330px;
width: 300px;
background-color: rgba(252, 169, 60, 0.787);
border-radius:10px;
position: relative;
bottom: 60px;
left: 35px;
z-index: 1;

}

.elephant{
position: relative;
  width: 320px;
  z-index: 9;
  left: 20px;
}

.contact-header{
z-index: 9;
  position: relative;
  bottom: 100px;
text-align: center;
line-height: .92;
}

}



@media (min-width:551px) {


  .contact-section {
    padding: 50px;
    margin-bottom: 0;
    position: relative;
    color: rgb(15, 15, 15);
    height: 100vh;
    width: 100vw;
    background-color: #FF7F11;
    display: flex;
    flex-direction: row;
    background-image: url('./src/Components/assets/elephant.png');
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: 900px 350px;

  }


  .connect {
    font-family: "Tusker-28";
    font-size: 14rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .hi {

    font-family: "Tusker-98";
    font-size: 4.15rem;
    text-transform: uppercase;
letter-spacing: 1px;
  }

  .link-card {
    height: 530px;
    width: 700px;
    background-color: rgba(252, 169, 60, 0.787);
    border-radius: 10px;
    position: relative;
    bottom: 0px;

    z-index: 1;

  }

  .elephant {
 display: none;

  }

  .contact-header {
    z-index: 9;
    position: relative;
    top: 190px;
left: 10%;

    line-height: .92;
  }

}