body {
  background-color: #FF1034;
  margin: 0;
}


.hp-container {
margin-top: -15%;
  height: 100vh;
  color: rgb(23, 23, 23);
  background-repeat: no-repeat;
  top: 0px;


}

     .mobile-img { 
 
       width: 550px;
       z-index: 1;
       margin-bottom: 0;

     }

     .mb-txt{
      display: none;
     }

  .title-mobile {
    letter-spacing: 3.9px;
    font-family: 'Tusker-28', sans-serif;
    overflow: hidden;
    font-weight: 800;
    position: relative;
    bottom: 420px;
    left: 40%;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 1rem;
        color: rgb(27, 27, 27);
max-width: min-content;
  }

  .sub-title {
    font-family: 'Tusker-98', sans-serif;
    font-size: 2.3rem;
    margin-top: -15px;
    letter-spacing: 3.5px;

  }
  .meet{
    padding-right:20px ;
  }



   .sq{
      width: 570px;
        height: 390px;
        transform: skew(9deg);
        background: #f6f6f6;
        position: absolute;
        top: 320px;
     right: 17%;
   }


   .name{
    width: max-content;
font-size: 18rem;
    letter-spacing: 10px;
   }
/* -------------media queries -------------------- */

     @media screen and (max-width:550px) {
       body {
       background-color: white;
       }
  
       .sq {
         display: none;
        
       }

    .rectangle {
      position: absolute;
      top: 90px;
      left: 50px;
      height: 65px;
      width: 124px;
      background-color: #ffffff;
      z-index: 1;
      transform: skewX(7deg);
    }
       .hp-container {
  
         position: relative;
         height: 100vh;
         color: rgb(23, 23, 23);
       
         top: 0px;
         left: 20px;
  
         max-width: 350px;
  
  
       }
  
     
  
       .name {
         line-height: 1;
         padding: 40px 30px;
         font-size: 3rem;
         letter-spacing: 5px;
      font-family: 'Tusker-98', sans-serif;
       
       }
  
       .dsk-name {
         display: none;
       }
  
       .mobile-img {
            display: inline;
            width: 450px;
            position: absolute;
           top: 35px;
           margin-left: -20px;
         
              z-index: 1;

       }
  
  
       .title-mobile {
         letter-spacing: .9px;
         font-family: 'Tusker-28', sans-serif;
         overflow: hidden;
         font-weight: 800;
         position: absolute;
         top: 40px;
         text-transform: uppercase;
         left: -20px;
         z-index: 9;
      
  
       }
  
       .sub-title {
         font-family: 'Tusker-98', sans-serif;
         font-size: 1rem;
         line-height: 3;
         letter-spacing: 3px;
         position: relative;
         bottom: 40px;
         left: 30px;
  
       }

      
     }