.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 5px;
  list-style: none;
  color: rgb(154, 153, 153);
  z-index: 9;
  position: relative;
  top: 5px;
}

.nav {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgba(154, 153, 153, 0.456);
}

.nav:hover {
  color: whitesmoke;
  /* border-top: 5px solid white; */
}

.fa-location-arrow {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  box-shadow: none;
  font-size: 1.2rem;
  color: rgba(154, 153, 153, 0.456);
}

@media screen and (max-width: 550px) {
  .nav-bar {
    top: 80px;
  }
}
