


@media (min-width:551px){
.d-block{

position: relative;
left:28%;
}
.pro-section {
  background-color: #fcd700;
/* background-color: #ffe600; */
    /* background-color: #fff820de; */
    height: 100vh;
    width: 100vw;
    padding: 70px 50px;
    background-image: url('./bird.png');
    background-size: 1090px;
    background-position: -380px 350px;
    background-repeat: no-repeat;
    /* text-align: center; */
    color: rgb(15, 15, 15);
    margin-bottom: 0;
    position: relative;
    margin-top: 24%;
    font-family: Arial, Helvetica, sans-serif


  }

.pro-header{
font-family: "Tusker-28";
font-size: 12rem;
text-transform: uppercase;


}

.two-col{
display: flex;

}

.slider {
  /* background-color: #ff95015e; */
width: 100vw;
  /* height: 80vh; */
 padding: 2rem;
 /* border-radius: 20px; */

}

.p-title{
font-family: 'Tusker-98';
font-size: 1rem;
width: 500px;

}

.p-text{
font-family: 'Courier New', Courier, monospace;
font-size: .7rem;
  width: 400px;
}
.carousel-caption {
  margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  position: relative;
  margin-right: 30%;
}


}








@media (max-width:550px) {

.carousel-caption {
    /* margin-top: 30px; */
    font-family: 'Courier New', Courier, monospace;
    color: black;
    /* position: relative;
    margin-right: 30%; */
  }

.pro-section{
  margin-top: -1%;
background-color: #fcd700;
  height: 100vh;
  padding: 70px 50px;
background-image: url('./bird.png');
background-size: 790px;
background-position: -380px 450px;
background-repeat: no-repeat;
  text-align: center;
  color: rgb(15, 15, 15);
  margin-bottom: 0;
    position: relative;
    height: 100vh;

}


.pro-header {
  font-family: "Tusker-28";
  font-size: 7rem;
  text-transform: uppercase;


}

.two-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.slider {
  margin-top: 30px;
  height: 300px;
  /* width: 300px;
  background-color: #f8b200ed; */
border-radius: 10px;
position: relative;
padding: 0px;


}

.p-title {
  font-family: 'Tusker-98';
  font-size: 1rem;
  width: 400px;


}

.p-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: .7rem;
  width: 400px;
}

.d-block{
margin-left: 25%;
  display: flex;
  justify-content: space-around;


}

}