@font-face {
  font-family: Tusker-28;
  src: url("./Components/TuskerGrotesk-2800Super.otf");
}

@font-face {
  font-family: Tusker-98;
  src: url("./Components/TuskerGrotesk-9800Super.otf");
}

@media screen and (max-width: 500px) {
  html,
  body {
    margin: 0;
    padding: 0;
    /* background-color: #ffffff; */
    user-select: none;
    overflow-x: hidden;
  }

  img {
    width: 300px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 30px auto;
  }
  .page {
    background-color: #ff1034;
  }
}
