@font-face {
  font-family: Visby-light;
  src: url("Fontspring-DEMO-visbycf-light.otf");
}

@font-face {
  font-family: Tusker-28;
  src: url("TuskerFont/TuskerGrotesk-2800Super.otf");
}

@font-face {
  font-family: Tusker-98;
  src: url("TuskerFont/TuskerGrotesk-9800Super.otf");
}